body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 14px;
}

a {
    color: rgba(255,0,0,.6);
    transition: color .3s linear .1s;
}

a:hover {
    color: rgba(255,0,0,1);
}

#main-header {
	background-color: rgba(2,2,2,0.50);
	text-align: center;
	color: #ffc;
	margin: 0;
	padding: 0.5%;
}

#main-menu {
	font-weight: bold;
	background-color: rgba(2,2,2,0.25);
	border-bottom: solid;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-width: 1px;
	border-color: lightgrey;
}


#main-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#main-menu li {
	float: left;
	padding: 1%;
	text-align: center;
}

#main-menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none
}

#main-menu li:hover {
	background-color: blue;
	background-color: rgba(0,0,255,0.25);
}


#admin-menu {
	padding: 1%;
	margin-left: 0;
	padding-left: 0;
	display: block;
	float: left;
	border-style: none solid solid none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 0 0 10px 0;
	background-color: white;
}

#admin-menu ul {
	display: block;
	background-color: white;
	padding: 1%;
	padding-left: 5%;
	list-style: none;
}

#admin-menu li {
	width: 10em;
	padding: 2%;
	margin: 1%;
}

#admin-menu a {
/*	display: block;*/
/*	width: 10em;*/
}

#tags-menu {
	float: right;
	padding: 1%;
	display: block;
	margin-right: 0;
	padding-right: 0;
	display: block;
	border-style: none none solid solid;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-width: 1px;
	border-color: lightgrey;
}

#tags-menu ul {
	display: block;
	background-color: white;
	padding: 1%;
	padding-right: 5%;
	list-style: none;
}

#tags-menu li {
	width: 10em;
	padding: 2%;
	margin: 1%;
}

#main-footer {
	background-color: rgba(2,2,2,0.50);
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0.5%;
	text-align: center;
	color: #ffc;
	font-weight: bolder;
	word-spacing: 1px;
	letter-spacing: 1px;
}

#main-footer p {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

h1 {

/*	background-color: #009;*/
/*	background-color: #222;*/

}

#main-content {
	margin: 1%;
	color: black;
	width: 50%;
	margin: 1% auto;
}

#postslist-content {

}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin: 1%;
	padding: 0;
}

.post h2 {
	margin: 2px;
	padding: 0.5em;
	display: block;
	background-color: rgba(240,240,240,0.5);
	border-radius: 8px 8px 0 0;
}

.post span {
	float: right;
	display: inline;
}

.post .admin-actions {
	display: inline;
	float: right;
	text-align: right;
	font-size: 55%;
}

.post .admin-actions a {
	display: inline;
	margin: 0;
	padding: 0;
}

.post article {
	margin: 1%;
	padding: 1%;
}

#post_edit input {
	width: 80%;
}

textarea {
	width: 100%;
	border-radius: 5px 5px 5px 5px;
}

label {
	font-weight: bold;
}

#post_edit label {
	width: 20%;
}

#change_password label {
	width: 25%;
}

#change_password input {
	width: 75%;
}

#change_password p {
	text-align: right;
}

#post_edit p {
	text-align: right;
}


#post_content_block {
	display: block;
	text-align: center;
}

fieldset {
	border-style: none solid solid none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 10px 10px 10px 10px;
	padding: 3%;
	margin: 3%;
}

legend {
	padding: 0.2em 0.5em;
	font-weight: bold;
	border-style: none solid solid none;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 5px 5px 5px 5px;
	background-color: white;
	font-size: 85%;
}

input[type=text] {
	border-radius: 5px 5px 5px 5px;
}

input[type=submit] {
	border-radius: 5px 5px 5px 5px;
	width: 100%;
}

#change_password input[type=submit] {
	border-radius: 5px 5px 5px 5px;
	width: 100%;
}

#post_edit  input[type=submit] {
	border-radius: 5px 5px 5px 5px;
	width: 100%;
}
