<section class="post">
[% # TODO author %]
<h3>[% title %]</h3>
<p id="date-created-modified">
<span>Created [% created %]</span>
[% IF modified %]
<span>Modified [% modified %]</span>
[% END %]
</p>
<article>
[% USE MultiMarkdown -%]
[% FILTER multimarkdown %]
[% content %][% # DO NOT INDENT THIS LINE, BECAUSE IT BREAKS MULTIMARKDOWN! %]
[% END %]
</article>
<p class="tags">Tags: [% tags %]</p>
</div>

