[% created %]
[% IF modified %]
[% modified %]
[% END %]
[% # TODO author %]
[% title %]
[% USE MultiMarkdown -%]
[% FILTER multimarkdown %]
[% content %][% # DO NOT INDENT THIS LINE, BECAUSE IT BREAKS MULTIMARKDOWN! %]
[% END %]
[% tags %]