[% FOREACH key IN posts.keys.sort.reverse %] [% # ordered posts id's in reverse order %]
[% posts.$key.title %]
[% USE MultiMarkdown -%]
[% FILTER multimarkdown %]
[% posts.$key.content %][% # DO NOT INDENT THIS LINE, BECAUSE IT BREAKS MULTIMARKDOWN! %]
[% END %]
[% END %]
